<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="black_donut">
    
    <xacro:include filename="black_donut_core.xacro" />
    <xacro:include filename="lidar.xacro" />

    <!-- <xacro:include filename="hw_ros2_control.xacro" />  -->
    <!-- <xacro:include filename="ros2_control.xacro" />  -->
    <xacro:include filename="gazebo_control.xacro" />

    <xacro:include filename="camera.xacro" />
    <!-- <xacro:include filename="camera3d.xacro" /> -->

</robot>